@import "app.variables";

.game-page {
  p {
    background-color: color($colors, favorite);
    padding-top: 32vh;
    font-size: 12vw;
    margin: auto;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}
