
<ion-header>
  <ion-toolbar position="top" favorite>
    <ion-title text-center>
      Yaa-Nee
    </ion-title>
    <ion-buttons end secondary>
      <button
        (click)="info()">
        <ion-icon name="ios-information-circle-outline"></ion-icon>
      </button>
      <button
        (click)="startGame(text)"
        [disabled]="!canStartGame()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home" padding>
  <ion-card *ngFor="let word of words; let i = index" padding>
    <ion-row>
      <ion-col *ngIf="word.selected" width-90 text-center (click)="toggleSelected(i)" class="selected-word">{{word.text}}</ion-col>
      <ion-col *ngIf="!word.selected" width-90 text-center (click)="toggleSelected(i)">{{word.text}}</ion-col>
      <ion-col width-10 (click)="removeWord(i)"><ion-icon name="trash"></ion-icon></ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar position="bottom" favorite>
    <ion-input #text class="footer-input" placeholder="Enter some words" (keyup.enter)="addWord(text)"></ion-input>
    <ion-buttons end secondary>
      <button
        (click)="addWord(text)"
        [disabled]="text.value === ''">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
